<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FormCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FormCapture.Properties.Settings.LogDbConnectionString" connectionString="Data Source=tcp:azure.database.windows.net,1433;Initial Catalog=log;User id=username;Password=password;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <!-- Added to reduce SPAM - 0803217 -->
  <system.webServer>
    <security>
      <!-- Full Dynamic IP Restriction Documentation: http://www.iis.net/learn/get-started/whats-new-in-iis-8/iis-80-dynamic-ip-address-restrictions -->
      <dynamicIpSecurity>
        <!-- Change status code by adding the attribute: denyAction="[AbortRequest | Forbidden | NotFound | Unauthorized]" -->
        <!-- Scenario #1: Deny by Concurrent Requests -->
        <!--<denyByConcurrentRequests enabled="true" maxConcurrentRequests="2"/>-->
        <!-- Scenario #2: Deny by Request Rate -->
        <denyByRequestRate enabled="true" maxRequests="2" requestIntervalInMilliseconds="10000"/>
        <!-- Scenario #3: Combine Deny by Request Rate & Deny by Concurrent Requests -->
      </dynamicIpSecurity>
    </security>
  </system.webServer>
  <system.diagnostics>
    <switches>
      <!-- 
        "1" gives error messages, 
        "2" gives errors and warnings, 
        "3" gives more detailed error information
        "4" gives verbose trace information -->
      <add name="TraceLevelSwitch" value="2"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.txt" traceOutputOptions="DateTime"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <FormCapture.Properties.Settings>
      <setting name="Referrer" serializeAs="String">
        <value>http://domain.com</value>
      </setting>         
      <setting name="CustomForm_FormCaptureURL" serializeAs="String">
        <value>http://analytics-eu.clickdimensions.com/forms/h/CUSTOMURL</value>
      </setting>
    </FormCapture.Properties.Settings>
  </applicationSettings>
</configuration>